<br>
<h1>Creando un nuevo Edificio</h1>
<%= form_for(@building, :url => buildings_path, :method => "post") do |f| %>
<%= render(:partial => "form", :locals => {:f => f})%>
<br>
<button><%= f.submit "Crear Edificio" %></button>
<% end %>
<br>
 <button><%= link_to "Volver a listado edificios", :back %></button>
